document, body {
  height: 100%;
}

h1, h2 {
  font-family: 'Luckiest Guy', cursive;
  color: #002147;
  text-shadow: 1.5px 1.5px white;
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

li {
  color: white;
  font-size: 1.5em;
  padding: 10px 0;
  text-shadow: 1.5px 1.5px #002147;
}

.sidebar {
  background-color: #E57200;
  min-height: 100%;
  min-width: 15%;
  padding: 15px;
}
